button {
  display: flex;
  justify-content: center;
  border: black solid 0.2rem;
  height: 2.5rem;
  width: 15rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #313131;
  padding-top: 1.3rem; 
  margin: auto;
}

button:hover {
  background-color: #E8E8E8;
}
