<div class="container">
  <div class="split left">
      <mat-sidenav-container>
          <mat-sidenav #sidenav>
              <nav>
                <a mat-button routerLink="/blog" routerLinkActive="active">Blog</a>
                <a mat-button routerLink="/about" routerLinkActive="active">About</a>
            </nav>
              
          </mat-sidenav>
          <mat-sidenav-content>
              <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
          </mat-sidenav-content>
      </mat-sidenav-container>
  </div>
  <div class="split right">
      <router-outlet></router-outlet>
  </div>
</div>
