<div class="container">
  <div class="left">
    <mat-sidenav-container>
      <mat-sidenav #sidenav [fixedInViewport]="true">
        <nav>
          <a mat-button routerLink="/blog" routerLinkActive="active">Blog</a>
          <a mat-button routerLink="/about" routerLinkActive="active">About</a>
        </nav>

      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar class="toolbar">
          <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
          <h4>PURPOSE PROJECT</h4>
        </mat-toolbar>
        <h1 class="main-message">{{ pageTitle$ | async }}</h1>
        <ul class="social-media">
            <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://plus.google.com/discover" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="https://www.pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a></li>
            <li><a href="https://www.skype.com" targe="_blank"><i class="fab fa-skype"></i></a></li>
          </ul>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="right right-content center">
    <router-outlet></router-outlet>
  </div>
</div>
