<div>
    <h2>Step Two: Establish goals</h2>
    <p class="welcome-message">
      Choose one or two goals to focus on which you believe
      will have the most positive impact on your life or
      which is a prerequisite for some of your bigger goals.
      Jot down some reasons you want to accomplish this goal.
      Break down the goals into more and more specific steps
      that will lead you to accomplishing your goals.
    </p>
    <textarea placeholder="Write here or in a journal, whichever you prefer."
      rows="10" cols="49" #response></textarea>
    <a appButton routerLink="../../dashboard">Dashboard</a>
  </div>
