/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Barlow|Comfortaa');

/* global */
html, body {
  height: 100%;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.toolbar {
  position: fixed;
  z-index: 1000;
}

/* Left side */
.container > .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("https://source.unsplash.com/gD7KrKqYZFk/1600x900");
  color: #fff;
  background-size: cover;
  background-position: center;
  flex: 1;
  font-family: Comfortaa, Arial, sans-serif;
  min-height: 300px;
}

.main-message {
  font-size: 4em;
  margin-left: .6em;
}

/* Social media icons */
.social-media {
  display: flex;
}

.social-media > li {
  list-style: none;
  margin: 4px;
}

.social-media > li > a {
  color: white;
}

.fab:hover {
  color: #D9D9D9;
}

/* Right side */
.container > .right {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Barlow, Arial, sans-serif;
  color: #313131;
  position: relative;
  padding-top: 5rem;
  height: 100%;
}

.right-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
  align-items: center;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  border: black solid 0.2rem;
  height: 2.5rem;
  width: 15rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #313131;
  padding-top: 1.3rem; 
}

.button:hover {
  background-color: #E8E8E8;
}

/* Media queries */
@media(max-width: 768px) {
  .container > .right {
  text-align: center;
  padding-left: 1rem;
  }
  .container {
  flex-direction: column;
  overflow: hidden;
  }
}