/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Barlow|Comfortaa');

/* General */
html, body {
  height: 100%;
  line-height: 1.5;
  padding: 0;
  margin: auto;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.toolbar {
  position: fixed;
  z-index: 1000;
}

.title {
  font-family: Comfortaa, Arial, sans-serif;
  color: #fff;
}

/* Left side */
.container > .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  background-size: cover;
  background-position: center;
  flex: 1;
  font-family: Comfortaa, Arial, sans-serif;
  min-height: 300px;
}

/* Right side */
.container > .right {
  flex: 1;
  font-family: Barlow, Arial, sans-serif;
}

p {
  width: 75%;
  margin: auto;
  padding: 2em;;
}

.button {
  display: flex;
  justify-content: center;
  border: black solid 0.2rem;
  height: 2.5rem;
  width: 15rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #313131;
  padding-top: 1.3rem; 
  margin: auto;
}

.button:hover {
  background-color: #E8E8E8;
}

/* Media queries */
@media(max-width: 768px) {
  .container {
  flex-direction: column;
  }
}