/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Barlow|Comfortaa');

html, body {
  height: 100%;
  line-height: 1.5;
  margin: auto;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.toolbar {
  position: fixed;
  z-index: 1000;
}

.title {
  font-family: Comfortaa, Arial, sans-serif;
  color: #fff;
  padding-left: .5em;
}

.material-icons {
  color: #fff;
  padding-left: .5em;
  padding-bottom: .1em;
}

.welcome-message {
  width: 75%;
  margin: auto;
  padding: 1em;;
}

.next {
  margin-top: 1em;
}

/* Media queries */
@media(max-width: 768px) {
  .container {
  flex-direction: column;
  }
}